@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: orangered;
    text-decoration: underline;
}

a:active {
    color: blueviolet;
}

.btn {
    background: #111;
    padding: 15px 20px;
    color: #fff;
    border: none;
    font-family: inherit;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    opacity: 0.8;
}

table {
    text-align: center;
}

@media (max-width: 650px) {
    .container {
        max-width: 650px;
        margin: auto;
    }
}

.container {
    max-width: 750px;
    margin: auto;
}

.avatar {
    width: 250px;
    border-radius: 5%;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    background: #ddd;
    color: #0F141E;
}

@media (max-width: 650px) {
    .info {
        display: block;
        text-align: center;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }
}

.info {
    background-color: bisque;
    border-radius: 20px;
    padding: 15px;
    margin-top: 10px;
    display: flex;
}

.info-text {
    font-family: Verdana, sans-serif;
    margin-left: 20px;
}

.hobby {
    background-color: #FF7F50;
    border-radius: 20px;
    padding: 10px;
    padding-left: 20px;
    margin-top: 10px;
}

.hobby ol {
    padding-left: 40px;
}

.work {
    background-color: #CD5C5C;
    border-radius: 20px;
    padding: 2%;
    margin-top: 10px;
}

.call {
    background-color:#20B2AA ;
    border-radius: 20px;
    padding: 2%;
    margin-top: 10px;
    padding-left: 20px;
}

form {
    padding-left: 30px;
}

.list1 {
    padding-left: 20px;
}

.navbar a:last-child {
    margin-right: 0;
}

.list li {
    margin-bottom: 10px;
}

.call h4 {
    text-align: center;
}

.form-row {
    margin-bottom: 10px;
    display: flex;
}

.form-row .form-group {
    width: 50%;
    margin-right: 20px;
}

.form-row .form-group:last-child {
    margin-right: 0;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #181717;
}

.form-group input, .form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: #000;
    outline: none;
    font-family: inherit;
    padding: 15px 0 10px;
}

@media (max-width: 650px) {
    .form-row {
        margin-bottom: 10px;
        display: block;
    }

    .form-row .form-group {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
}

@media (max-width: 390px) {
    .info {
        justify-content: center;
    }

    table {
        width: 380px;
    }
}

@media (max-width: 390px) {
    .container {
        max-width: 390px;
        margin: auto;
    }
}